<%- include('partials/header') %>
    <div class="container">
        <h1>Welcome to the Video Game Database!</h1>
        <p>You can search through our game titles, developers, or publishers</p>
        <a href="/game">Search for Games!</a>
    </div>
<%- include("partials/footer") %>
