<%- include('partials/header') %>
    <div id="landing_page">
        <div class="container">
            <h1>Welcome to the Video Game Database!</h1>
            <p>You can search through our game titles, developers, or publishers</p>
            <a href="/game">Search for Games!</a>
            <div>
                <h4>Created by: Pawel Linek, Garrett Tarczuk, Korakot Santiudommongkol, Jacob Lussier, Cole Gordon</h4>
            </div>
        </div>
    </div>
<%- include("partials/footer") %>
